@page "/experimental"

<div class="row">
    <h5>Experimental page</h5>
</div>

<div class="row">
    <div class="col-sm-12">
        <RadzenButton Variant="Variant.Outlined" ButtonStyle="ButtonStyle.Secondary" Text="GO" Click="OnButtonClick"></RadzenButton>
    </div>
</div>


